<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content = "islam, about islam, islamoflix, agenda of islam, what is islam, meaning of islam">
    <meta property="og:title" content="Islamoflix - Agenda of Islam">
    <meta property="og:site_name" content="Islamoflix">
    <meta property="og:image" content='https://islamoflix.github.io/static/Images/logo.jpg'>
    <meta property="twitter:title" content="Islamoflix - Agenda of Islam">
    <meta property="twitter:site_name" content="Islamoflix">
    <meta property="twitter:image" content='https://islamoflix.github.io/static/Images/logo.jpg'>
    <title>Agenda of Islam</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/hover.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/media.css">
    <link rel="stylesheet" href="../static/textStyle.css">
    <link rel="shortcut icon" href="../static/Images/logo.ico" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6963916751455739"
        crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-6963916751455739">
</head>

<body>
    <div id="logo">
    </div>
    <header>
        
        <div id='menu'><button></button>
            <ul id='options'>
                <li id=Home class=header><a class=header href="index.html"
                        style="color: rgba(255, 255, 255, 0.753);">Home</a>
                </li>
                <li id=refutations class=header><a class=header href="./refutations/refutations.html">Refutations</a></li>
                <li id=revert-section class=header><a class=header href="./revert-section/revert-section.html">Revert Section</a></li>
            </ul>

        </div>

        <div id="switch-layout">

        </div>
        <div id='switch'>

        </div>
    </header>

    <main>
        <div class="main">
            <div class=heading>
                <H1>Agenda of Islam</H1>
            </div>

            <div class="text">
                <hr>
                <hr>
                <p id="greeting">Assalamu alaikum(Peace be upon you)</p>

                <p class="super">Now, we understand what islam is. We now understand that it is more then just a
                    religion to believe. It is a complete guidance for the mankind. A structure of life sent by god
                    almighty. But what is the actual purpose of islam?
                    Is it to control the minds of the people? To make the people slave of the arabs? We will try to look
                    into it and will check whether that is true or not.
                </p>

                <hr>
                <h2>The literal meaning of islam means submission. In the context of religion, it is submission of the
                    will to the almighty creator. By very definition, we understand that god almighty is the most high
                    and allknowing.
                    As human beings are superior creatures of god. He sent down his guidance for the humans, not once
                    but multiple times throughout the history to every nation and in every language.</h2>

                <p class="superBold">Surah an-nahl(16:36)</p>
                <p class="sub">We surely sent a messenger to every community, </p>
                <p class="head">Through his messengers, he sent the guidance, rules and truth.
                    so, the people may find the truth and peace. As surely the peace is only in the remembrance of god.
                </p>

                <p class="super">Islam is the progressive revelation from the previous revelation. Islam didn't came to
                    abandoned the previous laws, but to separate the truth from the falsehood. It confirms the previous
                    messages. And calls people to worship the one and only god. Who is the god of moses, jesus, abraham
                    and muhammad peace be upon them. </p>

                <p class="super">And yes, islam don't force people to accept islam but rather gives choices. And islam
                    do not differentiate between people based upon the color, race, ethnicity or looks. But in the
                    righteousness. If someone do want to accept the message of islam. The person is completely free as
                    the person is himself only responsible for his hereafter. Islam encourage us to comes on a common
                    term, where apart from the differences. People can live peacefully whether it's a muslim majority
                    country or a non muslim majority country. That is why you can see that is islamic sharia. The amount
                    of tax zakat mandatory on a muslim is higher then the tax mandatory on a non muslim living under a
                    muslim ruler. To ensure the safety of the other people and the rights of them. </p>
                
                <p class="head">Always cross check your information on the internet against the Islam
                    and try confirm it with any muslim, specially with any scholar. That would be much 
                    better. Do not let others fool you. Jazakallah
                </p>
                <hr><hr>
            </div>
        </div>
    </main>

    <script src="../static/switchScript.js"></script>
</body>

</html>