<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="who is allah, allah, allah name, root word or allah, god of islam, god in islam, islamoflix, baiscs of islam, concept of god is islam">
    <meta name="description" content="Allah is the arabic term of the word 'THE GOD'. What does that mean? Means.. ">
    <meta property="og:title" content="Islamoflix - Concept of Allah">
    <meta property="og:site_name" content="Islamoflix">
    <meta property="og:image" content='https://islamoflix.github.io/static/Images/logo.jpg'>
    <meta property="twitter:title" content="Islamoflix - Concept of Allah">
    <meta property="twitter:site_name" content="Islamoflix">
    <meta property="twitter:image" content='https://islamoflix.github.io/static/Images/logo.jpg'>
    <title>Islamoflix - Concept of Allah</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/hover.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/media.css">
    <link rel="stylesheet" href="../static/textStyle.css">
    <link rel="shortcut icon" href="../static/Images/logo.ico" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6963916751455739"
        crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-6963916751455739">
</head>

<body>
    <header>
        <div id='menu'><button><img src="../static/Images/hamburger-menu-icon-png-white-8.jpg" alt="icon"
                    width="30px"></button>
            <ul id='options'>
                <li id=Home class=header><a class=header href="index.html"
                        style="color: rgba(255, 255, 255, 0.753);">Home</a>
                </li>
                <li id=refutations class=header><a class=header href="refutations.html">Refutations</a></li>
                <li id=revert-section class=header><a class=header href="revert-section.html">Revert Section</a></li>
            </ul>

        </div>

        <div id="switch-layout">

        </div>
        <div id='switch'>

        </div>
    </header>

    <main>
        <div class="main">
            <div class=heading>
                <H1>Concept of Allah</H1>
            </div>

            <div class="text">
                <hr>
                <hr>
                <p id="greeting">Assalamu alaikum(Peace be upon you)</p>

                <p class="super">Hope you are doing well. We have understand the basics of Islam so far. But it would be
                    unjust we do not get familiar with Allah azzawajal himself. Just to give a quick idea, Allah is not
                    the some kind of exclusive god of Islam and neither Allah is muslim.
                    As I've seen many people commenting in social media platforms.</p>

                <hr>
                <h2>Who is Allah?</h2>
                <p class="super">Allah is the arabic term of the word "THE GOD". What does that mean? Means when you
                    want to call the god in arabic. You don't say god but rather you say the word "Allah". For example
                    the arab christians still uses the word Allah.</p>
                <p class="super">And the similar words uses in the similar semitic languages. Like, aramaic which Isa or
                    Jesus peace and blessings be upon him used to speak. The aramaic word for the god is "Alaha". Very
                    similar right?</p>

                <p class="headBold">The word Allah can be break into two words al-ilah. Which is the exactly root word
                    of the word 'Allah'. </p>
                <p class="super">Funfact! the arabic letters and some related semitic languages works like a tree. Where
                    there are some root words and from these root words, the other other compiles based on the context.
                </p>

                <p class="superBold">Example:-</p>
                <p class="sub">The word Qur'an means book. But quran is not a base word. It usually means something to
                    read or something written. Which derived from the other root words. In fact there are some derived
                    words which only appears in Qur'an which is usually not in use with normal arabic speakers.</p>

                <p class="super">The word ilaha means 'God' or something to worship. Because obviously god meant to be
                    worshiped.
                </p>

                <p class="super">By just this little knowledge, we can understand the starting statement of the
                    Shahadah. Which is 'la ilaha illallah'(there is no god but allah). I've come across with some random
                    youtube dudes claiming by shahada that Allah is just different god and not the god which other
                    people of books refers. Oh really?</p>

                <p class="sub">As we discussed the word simply can be break into al and ilaha. Which means The and God.
                    Allah in the Qur'an preferred the name 'the God' for himself. Which just simply means one and only
                    god as the ilaha means god which can be use for multiple deities. But Allah separates himself with
                    others and refers as only one worthy of worship.</p>

                <p class="headBold">Now, we've just discussed his name. Which is just one name. Allah has introduced
                    himself with different names in the Qur'an which in totals are 99. You can check the 99 names of
                    allah. </p>
                <p class="head"><a href="https://youtu.be/lgm3puP3tMA?si=rTtBE2JCg9p21tza">Here is the link of a youtube
                        video.</a></p>
                <hr>
                <p class="head">Allah introduced himself in just one small surah of Qur'an with such clearance and
                    eloquence that I might not even need to explain much about him.</p>
                <p class="superBold">Surah al-ikhlas: chapter 112</p>
                <ul class="superBold">
                    <li>Say, “He is Allah—One ˹and Indivisible˺;</li>
                    <li>Allah—the Sustainer ˹needed by all˺.</li>
                    <li>He has never had offspring, nor was He born.</li>
                    <li>And there is none comparable to Him.”</li>
                </ul>

                <p class="head">
                    So, whenever you think about god just think that there is nothing in this world that you can use as
                    reference to understand god. Alah is making clear in several places in the Qur'an.</p>

                <p class="headBold">chapter 42:11</p>
                <ul class="superBold">
                    <li>There is nothing like Him, for He ˹alone˺ is the All-Hearing, All-Seeing.
                    </li>
                </ul>
                <hr>
                <hr>
                <p class="sub">Okay, I've tried to make it as short as possible. If I've missed anything, you can let me
                    know. You can email me as well on habeebdawah@gmail.com</p>
            </div>
    </main>

    <script src="../static/switchScript.js"></script>
</body>

</html>