<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concept of Allah</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/hover.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/media.css">
    <link rel="shortcut icon" href="../static/Images/logo.png" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6963916751455739"
     crossorigin="anonymous"></script>
     <meta name="google-adsense-account" content="ca-pub-6963916751455739">
</head>
<body>
    <header>
        <div id = 'menu'><button style="background-color: #303030cb; margin: 0px;"><img src="../static/Images/hamburger-menu-icon-png-white-8.jpg"
                    alt="icon" width="30px"></button>
            <ul id='options'>
                <li id=Home class=header><a class=header href="index.html" style="color: rgba(255, 255, 255, 0.753);">Home</a>
                </li>
                <li id=refutations class=header><a class=header href="refutations.html">Refutations</a></li>
                <li id=revert-section class=header><a class=header href="revert-section.html">Revert Section</a></li>
            </ul>
        
        </div>

        <div id="switch-layout">

        </div>
        <div id = 'switch'>
            
        </div>
    </header>

    <main>
        <div class="main">
            <div class=heading>
                <H1>Concept of Allah</H1>
            </div>
            
            <div class="text">
                <p>We are sorry for the inconvenience. This site is under development. You will surely recieve updates soon.</p>
            </div>
        </div>
    </main>
    
    <script src="../static/switchScript.js"></script>
</body>
</html>