<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concept of Allah</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/hover.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/media.css">
    <link rel="stylesheet" href="../static/textStyle.css">
    <link rel="shortcut icon" href="../static/Images/logo.png" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6963916751455739"
     crossorigin="anonymous"></script>
     <meta name="google-adsense-account" content="ca-pub-6963916751455739">
</head>
<body>
    <header>
        <div id = 'menu'><button><img src="../static/Images/hamburger-menu-icon-png-white-8.jpg"
                    alt="icon" width="30px"></button>
            <ul id='options'>
                <li id=Home class=header><a class=header href="index.html" style="color: rgba(255, 255, 255, 0.753);">Home</a>
                </li>
                <li id=refutations class=header><a class=header href="refutations.html">Refutations</a></li>
                <li id=revert-section class=header><a class=header href="revert-section.html">Revert Section</a></li>
            </ul>
        
        </div>

        <div id="switch-layout">

        </div>
        <div id = 'switch'>
            
        </div>
    </header>

    <main>
        <div class="main">
            <div class=heading>
                <H1>Concept of Allah</H1>
            </div>
            
            <div class="text">
                <p id="greeting">Assalamu alaikum(Peace be upon you)</p>
                
                <p class="super">Hope you are doing well. We have understand the basics of Islam so far. But it would be unjust we do not get familiar with Allah azzawajal himself. Just to give a quick idea, Allah is not the some kind of exclusive god of Islam and neither Allah is muslim.
                    As I've seen many people commenting in social media platforms.</p>
                
                <hr>
                <h2>Who is Allah?</h2>
                    <p class="super">Allah is the arabic term of the word "THE GOD". What does that mean? Means when you want to call the god in arabic. You don't say god but rather you say the word "Allah". For example the arab christians still uses the word Allah.</p>
                    <p class="super">And the similar words uses in the similar semitic languages. Like, aramaic which Isa or Jesus peace and blessings be upon him used to speak. The aramaic word for the god is "Alaha". Very similar right?</p>
        </div>
    </main>
    
    <script src="../static/switchScript.js"></script>
</body>
</html>