<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="faith in islam,faith in islam, iman in islam, islamoflix, basics of islam">
    <meta property = "og:title" content = "Islamoflix - Faiths in islam">
    <meta property = "og:site_name" content="Islamoflix">
    <meta property = "og:image" content = 'https://islamoflix.github.io/static/Images/logo.jpg'>
    <meta property = "twitter:title" content = "Islamoflix - Faiths in islam">
    <meta property = "twitter:site_name" content="Islamoflix">
    <meta property = "twitter:image" content = 'https://islamoflix.github.io/static/Images/logo.jpg'>
    <title>Islamoflix - Faiths in Islam</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/hover.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/media.css">
    <link rel="stylesheet" href="../static/textStyle.css">
    <link rel="shortcut icon" href="../static/Images/logo.ico" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6963916751455739"
     crossorigin="anonymous"></script>
     <meta name="google-adsense-account" content="ca-pub-6963916751455739">
</head>
<body>
    <div id="logo">
    </div>
    <header>
        
        <div id = 'menu'><button><img src="../static/Images/hamburger-menu-icon-png-white-8.jpg"
                    alt="icon" width="30px"></button>
            <ul id='options'>
                <li id=Home class=header><a class=header href="index.html" style="color: rgba(255, 255, 255, 0.753);">Home</a>
                </li>
                <li id=refutations class=header><a class=header href="refutations.html">Refutations</a></li>
                <li id=revert-section class=header><a class=header href="revert-section.html">Revert Section</a></li>
            </ul>
        
        </div>

        <div id="switch-layout">

        </div>
        <div id = 'switch'>
            
        </div>
    </header>


    <main>
        <div class="main">
            <div class=heading>
                <H1>Faith in Islam</H1>
            </div>
            
            <div class="text">
                <hr><hr>
                <p class="greeting">Assalamu alaikum(Peace be upon you)</p>
                <p class="super">In this section we will try to understand the faith related to islam. What are the muslim believes.</p>
                <ul>
                    <h2>There are total 6 pillars of faith(iman) in islam.</h2>
                </ul>

                <ol class="super">
                    <li>Believe in tawheed(True monothiesm)</li>
                    <li>Believe in angels</li>
                    <li>Believe in the books of Allah</li>
                    <li>Believe in all the messengers and prophets sent by god almighty</li>
                    <li>Believe in the day of judgement and hereafter</li>
                    <li>Believe in Destiny (Qadr)</li>
                </ol>
                
                <p class = 'head'>Let's discuss them one by one:</p>

                <ol>
                    <hr>
                    <li class="headBold">Believe in tawheed(True monothiesm)</li>
                    <p class="super">This is one of the most essential part which is not only the entry point of islam which makes you
                        inside the fold of Islam.
                        But also this is the main base which islam stands on.</p>
                    <p class="super">A muslim must believe that there is only one true god and no one is partner of him. He alone is worthy
                        of our worship. He has no son and neither he born. Means he is slef sufficient.</p>
                    <ul>
                        <li class="superBold"><a href="https://quran.com/al-ikhlas" target="_blank">Surah al-ikhlas(chapter-112)</a></li>
                        <ol class='sub'>
                            <li>Say, ˹O Prophet,˺ “He is Allah—One ˹and Indivisible˺;</li>
                            <li>Allah—the Sustainer ˹needed by all˺.</li>
                            <li>He has never had offspring, nor was He born.</li>
                            <li>And there is none comparable to Him.”</li>
                        </ol>
                    </ul>
                    <hr>
                    <li class="headBold">Believe in angels</li>
                        <p class="super"> A muslim must have faith in the existence of angels. Islamic understanding of angels might differ from
                        the other abrahamic believes.
                        Muslims believe that angels are inferior to humans as humans have the free will and tendency to do wrong. Wet
                        humans can choose to do right.
                        Yet an angel don't have any choices. An angel obeys god and that is what they created for. That is why humans
                        right choices count heavier then angels.
                        Rest allah knows best.</p>

                        <ul class = 'sources'>
                            <li class="superBold">Surah al-fatir(35:1)</li>
                                <p class="sub">All praise is for Allah, the Originator of the heavens and the earth, Who made angels ˹as His˺ messengers with wings—two, three, or four. He increases in creation whatever He wills. Surely Allah is Most Capable of everything.</p>
                        </ul>
                    <hr>
                    <li class="headBold">Believe in the books of Allah</li>
                        <p class="super">There are total 4 books acknowledge by the Qur'an kareem sent to prophet's of Allah by Allah.</p>
                        <ul>
                            <li class="sub">Zuboor</li>
                            <li class="sub">Torah</li>
                            <li class="sub">Injeel</li>
                            <li class="sub">Qur'an</li>
                        </ul>

                        <ol>
                            <li class="superBold">Zuboor(psalms) was revealed to prophet Dawood(David) peace be upon him</li>
                                <ul class = 'sources'>
                                    <li class="superBold">source(4:163)</li>
                                    <p class="sub">Indeed, We have sent revelation to you ˹O Prophet˺ as We sent revelation to Noah and the prophets after him. We also sent revelation to Abraham, Ishmael, Isaac, Jacob, and his descendants, ˹as well as˺ Jesus, Job, Jonah, Aaron, and Solomon. And to David We gave the Psalms.</p>
                                </ul>           
                            <li class="superBold">Torah was revealed to the prophet Musa(Moses) peace be upon him.</li>
                                <ul class="sources">
                                    <li class="superBold">source(5:44)</li>
                                        <p class="sub">Indeed, We revealed the Torah, containing guidance and light, by which the prophets, who submitted themselves to Allah, made judgments for Jews. So too did the rabbis and scholars judge according to Allah’s Book, with which they were entrusted and of which they were made keepers. So do not fear the people; fear Me! Nor trade my revelations for a fleeting gain. And those who do not judge by what Allah has revealed are ˹truly˺ the disbelievers.</p>
                                </ul>
                            <li class="superBold">Injeel(Gospel) was revealed to the prophet Isa(jesus) peace be upon him for jews</li>
                                <ul class="sources">
                                    <li class="superBold">source(7:157)</li>
                                        <p class="sub">“˹They are˺ the ones who follow the Messenger, the unlettered Prophet, whose description they find in their Torah and the Gospel.1 He commands them to do good and forbids them from evil, permits for them what is lawful and forbids to them what is impure, and relieves them from their burdens and the shackles that bound them. ˹Only˺ those who believe in him, honour and support him, and follow the light sent down to him will be successful.”
                                        </p>
                                </ul>
                            <li class="superBold">Qur'an kareem was revealed to our beloved prophet Muhammad peace be upon him for the whole world as a final revealation by god</li>
                                <ul class="sources">
                                    <li class="superBold">source(3:3)</li>
                                        <p class="sub">He has revealed to you ˹O Prophet˺ the Book in truth, confirming what came before it, as He revealed the Torah and the Gospel.</p>
                                </ul>
                        </ol>
                        <hr>
                        <li class="headBold">Believe in all the messengers and prophets sent by god almighty</li>
                            <p class="super">Muslims must have the faith and respect all the prophets sent by god almighty. From the Adam to the Muhammad peace and blessings be upon them. Anyone rejecting even one of them can not be a muslim and will be went out from the
                                fold of islam.</p>
                            
                            <ul class="sources">
                                <li class="superBold">
                                    Surah an-nisa(4:136)
                                </li>
                            </ul>
                                <p class="sub">O believers! Have faith in Allah, His Messenger, the Book He has revealed to His Messenger, and the Scriptures He revealed before. Indeed, whoever denies Allah, His angels, His Books, His messengers, and the Last Day has clearly gone far astray.</p>
                    
                    <hr>
                    <li class="headBold">Believe in the day of judgement and hereafter</li>   
                        <p class="super">We already has discussed the ayah of surah an-nisa. I do not think that now I even need to share any further more detials about any of them.
                            </p>
                        <ul class="sources">
                            <li class="superBold">surah al-ahzab(33:63)</li>
                                <p class="sub">People ask you ˹O Prophet˺ about the Hour. Say, “That knowledge is only with Allah. You never know, perhaps the Hour is near.”</p>
                        </ul>
                    
                    <hr>
                    <li class="headBold">Believe in the destiny</li>
                        <p class="super">This topic is important to cover because many misunderstand the concept of destiny in Islam, muslims have faith that allah is all-knowing. Allah has wrote and secured all the incident that will happen in the future in a book.
                            Now, people don't work anything according to the destiny. It's not a written script that whole universe follow but rather a record that will surely as the result of the knowledge of Allah.</p>
                        
                        <ul class="sources">
                            <li class="superBold">Surah al-an'am(6:59)</li>
                                <p class="sub">With Him are the keys of the unseen—no one knows them except Him.1 And He knows what is in the land and sea. Not even a leaf falls without His knowledge, nor a grain in the darkness of the earth or anything—green or dry—but is ˹written˺ in a perfect Record.</p>
                            <li class="superBold">Surah al-isra(17:13)</li>
                                <p class="sub">We have bound every human’s destiny to their neck.1 And on the Day of Judgment We will bring forth to each ˹person˺ a record which they will find laid open.</p>
                        </ul>
                </ol><hr><hr>
            </div>
        </div>
    </main>

    <footer>
        <div>
        Hope you liked it and got some information.
        </div>
        <div >If you think there is any mistake(s) in the references given above. Feel free to do a dm on insta. I'll try to fix it if possible. Jazakallah</p></div>
        <div><a href="https://www.instagram.com/habeeb_understandingcritics?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">INSTAGRAM</a></div>
    </footer>

    <script src="../static/switchScript.js"></script>
</body>
</html>