<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name = "description" content="You can find basic level introduction about islam and also some refutations of most common arguments against islam.">
    <meta name = "tag" content="islam,islamoflix,sharia,prophet,allah,refutations,faith,pillars,pillars of islam">
    <meta property = 'og:title' content = 'Islamoflix'>
    <meta property = 'og:image' content = '../static/Images/logo.png'>
    <title>Islamoflix:- An effort to aware the people about islam</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/hover.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/media.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/Images/logo.png" type="image/x-icon">
    <meta name="google-adsense-account" content="ca-pub-6963916751455739">
    <link rel="canonical" href="https://islamoflix.github.io">
</head>
<body>
    <header>
        <!-- <div id="logo">
            <img src="../static/Images/808151773cad464f81d0b160f847f3ef.png" alt="logo" style="height: 5vh; width: 4vw;">
        </div> -->
        <div id = 'menu'><button style="background-color: #303030cb; margin: 0px;"><img src="../static/Images/hamburger-menu-icon-png-white-8.jpg"
                    alt="icon" width="30px"></button>
            <ul id='options'>
                <li id=Home class=header><a class=header href="index.html" style="color: rgba(255, 255, 255, 0.411);">Home</a>
                </li>
                <li id=refutations class=header><a class=header href="refutations.html">Refutations</a></li>
                <li id=revert-section class=header><a class=header href="revert-section.html">Revert Section</a></li>
            </ul>
        
        </div>

        <div id="switch-layout">

        </div>
        <div id = 'switch'>
            
        </div>
    </header>

    <main>
        <h1 style="display: flex; justify-content: center; position: relative; top: 1vh;">Basic topics to understand islam</h1>
        <div class = mainIntroduction>
            <li ><a id = a href = 'pillars.html'>Pillars in Islam</a> <p>pillars in Islam</p></li> 
            <li ><a id = b href = 'faith.html'>Faith in islam</a><p>Faith in islam</p></li>
            <li ><a id = c href = 'sharia.html'>Sharia</a><p>Sharia</p></li>
            <li ><a id = d href = 'prophet.html'>Muhammad (Sallallaho aleyhi wasallam)</a><p>Muhammad (Sallallaho aleyhi wasallam)</p></li>
            <li ><a id = e href = 'allah.html'>Concept of Allah azzawajal(god almighty)</a><p>Concept of Allah azzawajal(god almighty)</p></li>
            <li ><a id = f href = 'agenda.html'>Agenda of islam</a><p>Agenda of islam</p></li>
            
            
        </div>
    </main>

    <script src="../static/switchScript.js"></script>

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Website",
          "name": "Islamoflix",
          "alternateName":["islamoflix", "islamic basics", "islam", "refutations", " islamic refutations"],
          "headline": "Basics of islam",
          "description": "Short intro about islam and effort to reduce islamophobia fromt the society",
          "image": "https://islamoflix.github.io/static/Images",  
          "url": "https://islamoflix.github.io",
          "author": {
            "@type": "Person",
            "name": "Islamoflix"
          },  
          "publisher": {
            "@type": "Organization",
            "name": "Islamoflix",
            "logo": {
              "@type": "ImageObject",
              "url": "https://islamoflix.github.io/static /Images"
            }
          },
          "datePublished": "2024-04-02"
        }
        </script>
</body>
</html>