<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content = "pillars of islam, islamoflix, islam, basics of islam, beliefs of islam">
    <meta property = "og:title" content = "Islamoflix - Pillars of islam">
    <meta property = "og:site_name" content="Islamoflix">
    <meta property = "og:image" content = 'https://islamoflix.github.io/static/Images/logo.jpg'>
    <meta property = "twitter:title" content = "Islamoflix - Pillars of islam">
    <meta property = "twitter:site_name" content="Islamoflix">
    <meta property = "twitter:image" content = 'https://islamoflix.github.io/static/Images/logo.jpg'>
    <title>Islamoflix - Pillars of Islam</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/hover.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/media.css">
    <link rel="stylesheet" href="../static/textStyle.css">
    <link rel="shortcut icon" href="../static/Images/logo.png" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6963916751455739"
     crossorigin="anonymous"></script>
     <meta name="google-adsense-account" content="ca-pub-6963916751455739">
</head>
<body>
    <header>
        <div id = 'menu'><button><img src="../static/Images/hamburger-menu-icon-png-white-8.jpg"
                    alt="icon" width="30px"></button>
            <ul id='options'>
                <li id=Home class=header><a class=header href="index.html" style="color: rgba(255, 255, 255, 0.753);">Home</a>
                </li>
                <li id=refutations class=header><a class=header href="refutations.html">Refutations</a></li>
                <li id=revert-section class=header><a class=header href="revert-section.html">Revert Section</a></li>
            </ul>
        
        </div>

        <div id="switch-layout">

        </div>
        <div id = 'switch'>
            
        </div>
    </header>
    
    <main>
        <div class="main">
            <div class=heading>
                <H1>Pillars of Islam</H1>
            </div>
            
            <div class="text">
                <p id = "greeting">Assalamu alaikum(Peace be upon you)</p>
                <p class="super">In order to understand any topic. One has to know it's base and in order to understand a belief or a religion. One has to understand the faiths about that religion.
                    And why we even should care about other religions. Society consists with different people, different groups. And in order to survive. We must know each others belief.
                    And we must encourage each other to read. As Islam focus to read and know about different people and share the message of so we can come to a common path to build a better
                    place in society.</p>
                <p class="head">In this topic we will only cover the pillars or Islam. The faiths in Islam will be covered in other section inshallah( if god wills ).</p>
                <p class = "headBold">Difference between pillars & faith.</p>
                    <p class = 'super'>Pillars are the acts of worship that every muslim has to do or perform according to there ability. There are indeed conditions in it but we will talk about the usual
                        scenarios. And the faith is of course the faith or believes in Islam.</p>
                <h2>There are total 5 pillars of islam. Which is obligatory to every muslim who has reached the age of puberty.</h2>
                <ol class = 'super'>
                    <li>Shahadah ( Declaration of faith )</li>
                    <li>Salah ( 5 daily prayers )</li>
                    <li>Zakat ( obligatory charity )</li>
                    <li>Sawm ( Fasting )</li>
                    <li>Hajj ( Pilgrimage )</li>
                </ol>
                <p class = 'head'>Let's know more about each of them.</p>
                <ol class = 'details'>
                    <li class = 'headBold'>Shahadah( Declaration of faith )</li>
                    <p class = 'super'>This is also the entry point of Islam. This is the declaration that if someone believes that the God is one and no-one is worthy of worship and he sends down his
                        prophets and Muhammad peace and blessings be upon him is his last messenger and a servant of the God almighty. If someone believes that and declare that in public
                        or at least with two witnesses, then he will be called a muslim. No one can be muslim without the declaration. And Islam don't gives the idea of purification or
                        baptism.</p>
                        <p class = 'sub'>After the shahadah Allah ( god almighty) forgives all of the previous sins that the person used to commit and after that, the person will be accountable for
                            his deeds after that moment. And allah don't test anyone more then he/she can bare.</p>
                    <p class = 'super'>That is okay but where is it written. As you might know the Qur'an is the holy book in the Islamic belief. Let's try to find that in Quran.</p>
                        <ul class = sources>
                            <li class = 'superBold'>Surah al-ikhlas(chapter 112):</li>
                                <p class = 'sub'>قُلْ هُوَ ٱللَّهُ أَحَدٌ ١ (Qul hualla hu ahad )</p>
                                    <p class = 'sub'>Say, ˹O Prophet,˺ “He is Allah—One ˹and Indivisible˺;</p>
                            
                            <li class="superBold">Surah al-ahzab(33:40):</li>
                                <p class="sub">Muḥammad is not the father of any of your men, but is the Messenger of Allah and the seal of the prophets. And Allah has ˹perfect˺ knowledge of all things.</p>
                        </ul>

                    <li class = 'headBold'>Salah (5 daily prayers)</li>
                        <p class="super">The 5 prayers came for the muslims when the prophet peace and blessings be upon him visited Israʾ and Miʿrajthe to meet Allah azzawajal.
                            And Allah ordered gave the gift of 5 prayers for muslims.</p>
                        <p class="super">Allah  commands muslims to pray the obligatory prayers to muslims.</p>
                        <ul class="sources">
                            <li class = 'superBold'>Surah baqarah(chapter 2):</li>
                                <p class = "sub">This is the Book, there is no doubt in it, a guidance to the Godwary, <a href="https://quran.com/al-baqarah/2" target = '_blank'>(verse 2)</a></p>
                                <p class = "sub">who believe in the Unseen, and maintain the prayer, and spend out of what We have provided for them. <a href="https://quran.com/al-baqarah/3" target = '_blank'>(verse 3)</a></p>
                        </ul>

                    <li class = 'headBold'>Zakat (obligatory charity)</li>
                        <p class="super">In Islam, the muslims has to do the charity. The common minimum amount for those who qualify is 2.5% of a Muslim’s total savings and wealth.
                            This percentage applies to wealth that exceeds a specific threshold called nisab. This is to make sure the equality among the muslims or in muslim lands.
                            The benefit of the charity can be taken by non-muslims as well which follows some particular criteria.</p>
                        <ul class = 'sources'>
                            <li class = 'superBold'>Surah al-baqarah(2:261)</li>
                            <p class="sub">The example of those who spend their wealth in the cause of Allah is that of a grain that sprouts into seven ears, each bearing one hundred grains.
                                And Allah multiplies ˹the reward even more˺ to whoever He wills. For Allah is All-Bountiful, All-Knowing.</p>
                            
                            <li class = 'superBold'>Surah al-muzzammil (73:20)</li>
                            <p class="sub">Surely your Lord knows that you ˹O Prophet˺ stand ˹in prayer˺ for nearly two-thirds of the night, or ˹sometimes˺ half of it, or a third, as do some of
                                those with you. Allah ˹alone˺ keeps a ˹precise˺ measure of the day and night. He knows that you ˹believers˺ are unable to endure this, and has turned
                                to you in mercy.1 So recite ˹in prayer˺ whatever you can from the Quran. He knows that some of you will be sick, some will be travelling throughout the
                                land seeking Allah’s bounty, and some fighting in the cause of Allah. So recite whatever you can from it. And ˹continue to˺ perform ˹regular˺ prayers,
                                pay alms-tax, and lend to Allah a good loan.2 Whatever good you send forth for yourselves, you will find it with Allah far better and more rewarding.3
                                And seek Allah’s forgiveness. Surely Allah is All-Forgiving, Most Merciful.</p>
                        </ul>
                    
                    <li class = 'headBold'>Sawm(Fasting)</li>
                        <p class="super">Ramadan is the month of fasting which every muslim waits whole year. Weird right! people waits to get starv.
                            In Islam, ramadan is the river of gold. Take your hands, put it in the water and take as many blessings as you want. There are many inspiration as to why
                            muslims starv for a whole month where they do not
                            drink or eat anything from early in the morning as 4 or 5 am to the sunset. It helps to put yourself in the shoes of those people who don't have anything to
                            eat and not have the facilities that me and you
                            have. By that we can remove the arrogance(taqabbur) from our heart and be able to open our heart as much as possible.</p>
                            <ul class = 'sources'>
                                <li class = 'superBold'>Surah al-baqarah(2:183)</li>
                                    <p class="sub">O believers! Fasting is prescribed for you—as it was for those before you—so perhaps you will become mindful ˹of Allah˺.</p>
                            </ul>
                    
                    <li class = 'headBold'>Hajj(Pilgrimage)</li>
                            <p class="super">Every muslim has the obligation that if he/she can offord. Allah gave them the ability. Then they have to go the holy city of mecca which is located in the
                                country which now we know as Saudi Arabia.
                                Muslim from all over the world come to mecca and it also shows the picture that muslims are strictly against the rasism. Infact prophet Muhammad peace be upon
                                him himself is very anti-racist.</p>
                            <ul class = 'sources'>
                                <li class = 'superBold'>There is a hadith related to the hajj. You do not need to go in depth what is hadith. It is seperate text from the Qur'an. As Qur'an is the word of god. Hadith are the word of the prophet Muhammad peace be upon him.</li>
                            </ul>
                                <p class="sub">The Prophet Muhammad (peace and blessings be upon him) said: “Whoever performs Hajj for the sake of Allah and does not utter any obscene speech or do any evil
                                    deed, will go back (free of sin) as his mother bore him.”</p>
                            <p class="super">There is a whole chapter name Hajj in the Qur'an-e-kareem.</p>
                            <ul class = 'sources'>
                                <li class="superBold">Surah al-baqarah(2:196)</li>
                                    <p class="sub">Complete the pilgrimage and minor pilgrimage for Allah.</p>
                            </ul>
                </ol>
            </div>
        </div>
    </main>

    <footer>
        <div>
        Hope you liked it and got some information.
        </div>
        <div >If you think there is any mistake(s) in the references given above. Feel free to do a dm on insta. I'll try to fix it if possible. Jazakallah</p></div>
        <div><a href="https://www.instagram.com/habeeb_understandingcritics?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">INSTAGRAM</a></div>
    </footer>
    
    <script src="../static/switchScript.js"></script>
</body>
</html>