<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prophet Muhmmad(S.A.W)</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/hover.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/media.css">
    <link rel="stylesheet" href="../static/textStyle.css">
    <link rel="shortcut icon" href="../static/Images/logo.png" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6963916751455739"
        crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-6963916751455739">
</head>

<body>
    <header>
        <div id='menu'><button style="background-color: #303030cb; margin: 0px;"><img
                    src="../static/Images/hamburger-menu-icon-png-white-8.jpg" alt="icon" width="30px"></button>
            <ul id='options'>
                <li id=Home class=header><a class=header href="index.html"
                        style="color: rgba(255, 255, 255, 0.753);">Home</a>
                </li>
                <li id=refutations class=header><a class=header href="refutations.html">Refutations</a></li>
                <li id=revert-section class=header><a class=header href="revert-section.html">Revert Section</a></li>
            </ul>

        </div>

        <div id="switch-layout">

        </div>
        <div id='switch'>

        </div>
    </header>

    <main>
        <div class="main">
            <div class=heading>
                <H1>Prophet Muhmmad(S.A.W)</H1>
            </div>

            <div class="text">
                <p id="greeting">Assalamu alaikum(Peace be upon you)</p>
                <p class="sub">
                    We might have get the enough basics of the religion of islam as of now. We understood what is islam,
                    which is submission of will to the
                    one and only creator of the heavens and the earth. And we understand that the last prophet of islam
                    is prophet Muhammad sallallaho alayehi wasallam. But who actually is he, who is Muhammad ibn
                    abdullah peace and blessings be upon him?</p>

                <p class="super">
                    This section is not going to be a seerah of prophet as I am not qualified to write any kind of
                    seerah(biography) of prophet. If you want to read his biography, I can suggest a book called sealed
                    nectar. These books are not hundred percent accurate as in order to get the information there are
                    some hadith uses which consists weak ones as well. But I would suggest you to read that book to get
                    a more better understanding of his time and about the prophet himself peace be upon him.</p>

                <p class="head">Now,</p>

                <p class="super">The first and foremost question that some individuals may ask is. What is the actual
                    evidence that the prophet Muhammad peace and blessing be upon him was actually there? Was there even
                    a person in arabia in the 7th century named Muhammad or the whole story is man made?
                </p>

                <p class="superBold">For these questions, we do have arabic records available. The biggest one would be
                    the Qur'an for obvious reason. Apart from it, we have companions of prophet and companions of
                    companions taba'een.</p>

                <p class="sub">
                    But if someone wants a source outside of arabic records. We have roman records of 7th century of
                    wars with muslims by which obviously the leader of them was Muhammad peace be upon him.</p>
                <p class="sub">
                    You can also check the 7th century historian John Fennick who mentioned prophet by name in greek
                    literature.
                    So, this isn't even a question to ask at the first place.</p>


                <p class="superBold">Prophet's tribe:</p>

                <p class="super">Prophet Muhammad peace and blessings be upon him was from the tribe called banu hashim.
                    Which was a sub-tribe of Quraish. Which is one of the most respected and honored tribe of that time.
                    And banu Quraish's lineage goes back to prophet Ismail peace be upon him.</p>

                <p class="sub">Prophet was known to be the most trustworthy person. As the matter of fact. The name of
                    prophet "Muhammad" means praise worthy of honorable.

                    Prophet was a merchant and his wife Khatija may allah be pleased with her was a business woman.
                    khatija radiallahu anha married prophet because of his trustworthy nature and his truthfulness.

                    There are varies in the sources in what was the age of Khatija radiallahu anha got married to
                    prophet which is around 28 - 40. But one thing is clear that she was older then the prophet himself.
                </p>
                <p class="head">
                    The prophet used to go up in a cave on a mountain called ghar-e-hira or cave of hira.
                    One day he went on the cave of hira and all of a sudden, something grabbed him and seized him. And
                    then that entity said, "Iqra" read. The prophet replied I can not read. Again the voice came "Iqra",
                    and prophet said I can not read. And third time the voice came which was actually a verse.</p>

                <p class="headBold">This is surah Al-'Alaq:</p>
                <ul class="verses" id="surah-alaq">
                    <li class="superBold">iqra bissmi rabbiqal lazi khalaq,</li>
                    <li class="superBold">khalaqal insana min 'alaq,</li>
                    <li class="superBold">iqra rabbukal akram,</li>
                    <li class="superBold">al lazi 'allamal bil qalam(pen)</li>
                </ul>
                <hr>
                <ul class="verse" id="english-translation">
                    <li class="superBold">Read, in the Name of your Lord Who created—</li>
                    <li class="superBold">created humans from a clinging clot.</li>
                    <li class="superBold">Read! And your Lord is the Most Generous,</li>
                    <li class="superBold">Who taught by the pen.</li>
                </ul>

                <p class="super">And he released, and now finally he can take a breath. He looked up at the horizon. He
                    saw an angelic creature. He(prophet) ran away and ran to his home, to his wife and said to her cover
                    me up, cover me up.
                    Then Khatija radiallahu anha calmed him and said that god would never punished him. She started
                    counting him all his good nature to calm him down. Here the sources differ in this part. Khatija
                    radiallahu anha went to his cousin who was a christian and a scholar and she told him about the
                    incident and he told her that this creature was angel gibrail and he warned Khatija that muhammad
                    will going to face tough time and have to face persecution.</p>

                <p class="sub">Long story short, after this incident. Prophet received multiple revelation and people
                    started coming to islam. And among them the first muslims were Khatija, ali ibn abu talib, abu bakr
                    as-siddiq. may allah be pleased with him all. Here I want to highlight bilal radiallahu anh. Who was
                    actually a freed slave. Whome the abu bakr the closest friend of prophet bought on more then double
                    or triple the price of him. And he set him free. Though bilal was already a muslim before he was
                    free but that shows you the brotherness among muslims. And those who accuse islam for slavery. I
                    would highly recommend them learning about bilal may allah be pleased with him.</p>

                <p class="super">The pagans of mecca tried to stop him for spreading islam. They offered him power and
                    wealth. But prophet said even if you were to put sun in my one hand and moon on the other, I will
                    not stop preaching the message of Allah. The pagans of mecca persecuted his companions and his
                    people. The prophet saw a complete boycott of him and his followers, economically, socially in every
                    shape of form. To save the people from the boycott and persecution. Prophet ordered their people to
                    migrate abyssinia.</p>
                <p class="sub">The prophet went to Yathrib and preached the islam where he became their leader and the
                    place yathrib is well known as the city of prophet Madina munawwara.
                </p>

                <p class="headBold">*** there is an update.... I've forgot to mention that prophet himself was an orphan
                    and very strict against racism.</p>

                <p class="super">When prophet peace be upon him conquered the mecca. The prophet forgave the people who
                    were the killers of his uncle Hamza and his companions. he forgave them and said to them,“I say to
                    you as Joseph said to his brothers: No blame upon you today. Allah will forgive you, for he is the
                    most merciful of the merciful.”</p>

                <p class="sub">Although there are everything to get from him, from his relationship with his wives, with
                    his companions, with his children. But my most favorite part is prophet's last speech that he gave
                    to the people of mecca.</p>

                <p class="superBold">"O People, lend me an attentive ear, for I know not whether after this year, I
                    shall ever be amongst you again. Therefore, listen to what I am saying to you very carefully and
                    take these words to those who could not be present here today.
                    O People, just as you regard this month, this day, this city as Sacred, so regard the life and
                    property of every Muslim as a sacred trust. Return the goods entrusted to you to their rightful
                    owners. Hurt no one so that no one may hurt you. Remember that you will indeed meet your Lord, and
                    that He will indeed reckon your deeds. God has forbidden you to take usury (interest), therefore all
                    interest obligation shall henceforth be waived. Your capital, however, is yours to keep. You will
                    neither inflict nor suffer any inequity. God has Judged that there shall be no interest, and that
                    all the interest due to Al-Abbas ibn Abdul Muttalib shall henceforth be waived...
                    Beware of Satan, for the safety of your religion. He has lost all hope that he will ever be able to
                    lead you astray in big things, so beware of following him in small things.
                    O People, it is true that you have certain rights with regard to your women, but they also have
                    rights over you. Remember that you have taken them as your wives only under a trust from God and
                    with His permission. If they abide by your right, then to them belongs the right to be fed and
                    clothed in kindness. Do treat your women well and be kind to them for they are your partners and
                    committed helpers. And it is your right that they do not make friends with any one of whom you do
                    not approve, as well as never to be unchaste.
                    O People, listen to me in earnest, worship God, perform your five daily prayers, fast during the
                    month of Ramadan, and offer Zakat. Perform Hajj if you have the means.
                    All mankind is from Adam and Eve. An Arab has no superiority over a non-Arab, nor does a non-Arab
                    have any superiority over an Arab; a white has no superiority over a black, nor does a black have
                    any superiority over a white; [none have superiority over another] except by piety and good action.
                    Learn that every Muslim is a brother to every Muslim and that the Muslims constitute one
                    brotherhood. Nothing shall be legitimate to a Muslim which belongs to a fellow Muslim unless it was
                    given freely and willingly. Do not, therefore, do injustice to yourselves. Remember, one day you
                    will appear before God and answer for your deeds. So beware, do not stray from the path of
                    righteousness after I am gone.
                    O People, no prophet or apostle will come after me, and no new faith will be born. Reason well,
                    therefore, O people, and understand words which I convey to you. I leave behind me two things, the
                    Quran and my example, the Sunnah, and if you follow these you will never go astray.
                    All those who listen to me shall pass on my words to others and those to others again; and it may be
                    that the last ones understand my words better than those who listen to me directly. Be my witness, O
                    God, that I have conveyed your message to your people."</p>

                <p class="sub">And after this khutbah, the last verse of Qur'an revealed to prophet.</p>

                <p class="superBold">This day I have perfected for you your religion and completed My favor upon you and
                    have approved for you Islam as religion.…" (Quran 5:3)</p>
            </div>
        </div>
    </main>

    <script src="../static/switchScript.js"></script>
</body>

</html>