<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="sharia, what is sharia, islamic sharia, sharia in islam, sharia law, islamoflix, basics of islam">
    <meta property = "og:title" content = "Islamoflix - Sharia in islam">
    <meta property = "og:site_name" content="Islamoflix">
    <meta property = "og:image" content = 'https://islamoflix.github.io/static/Images/logo.jpg'>
    <meta property = "twitter:title" content = "Islamoflix - Sharia in islam">
    <meta property = "twitter:site_name" content="Islamoflix">
    <meta property = "twitter:image" content = 'https://islamoflix.github.io/static/Images/logo.jpg'>
    <title>Islamoflix - Sharia in Islam</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/hover.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/media.css">
    <link rel="stylesheet" href="../static/textStyle.css">
    <link rel="shortcut icon" href="../static/Images/logo.ico" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6963916751455739"
     crossorigin="anonymous"></script>
     <meta name="google-adsense-account" content="ca-pub-6963916751455739">
</head>
<body>
    <a href="index.html" title="Islamoflix">
        <div id=logo></div>
    </a>
    <header>
        <div class="search-area">
            <input type="text" id = 'search-bar' name = 'search-bar'>
        </div>
        <div id = 'menu'><button><img src="../static/Images/hamburger-menu-icon-png-white-8.jpg"
                    alt="icon" width="30px"></button>
            <ul id='options'>
                <li id=Home class=header><a class=header href="index.html" style="color: rgba(255, 255, 255, 0.753);">Home</a>
                </li>
                <li id=refutations class=header><a class=header href="./refutations/refutations.html">Refutations</a></li>
                <li id=revert-section class=header><a class=header href="./revert-section/revert-section.html">Revert Section</a></li>
            </ul>
        
        </div>

        <div id="switch-layout">

        </div>
        <div id = 'switch'>
            
        </div>
    </header>
    
    <main>
        <div class="main">
            <div class=heading>
                <H1>Sharia</H1>
            </div>
            
            <div class="text">
                <hr><hr>
                <p id = 'greeting'>Assalamu alaikum(Peace be upon you)</p>
                <p class="super">We are here with some spicy topic. This is actually very unfortunate that in today's time, the knowledge you recieve about Islam and specially about sharia is from an anti islamic page or news channels. Which usually have an agenda.
                    Agenda to divert you from your actual need and give a comman threat that you can fear of and forget your actual issues. But that is not our job. Our job is to teach you our side and let you decide by your own will and let you choose.</p>
                <p class="head">Sharia is the Islamic law which is based upon the Islamic values such as the Qur'an and hadiths of prophet Muhammad peace and blessings be upon him. Now many people, specially none muslims have pretty negative views on sharia.
                    But infact sharia just gives us the map what we should do and what we should'nt. Every country has their own sharia(law) like stopping when traffic lights are red, green means go. Do not cross the lane. Not driving in wrong side.
                    Other aspect of none islamic sharia like what should be permissible in country what should not. And these sharia can be differ from country to country. For example: some country might have chewing gum ban. Where you can not have chewing gum.
                    Well it sounds rude and nonsense but for them it is best and it might works.</p>
                <p class="head">Same as we have islamic sharia which not only gives the red line on what should we do and what should not on the country/social level but also personal level. Ex:
                    Praying 5times a day,
                    Making wudu before every prayer,
                    Early wake up,
                    What should we eat or what should not(i.e. hala or haram)
                    Not dealing with interest.</p>
                <p class="head">So, islamic sharia are laws given by god almighty to ease our daily routine in personal and on a social level.</p>
                
                <hr>
                <p class="headBold">Sharia has 3 basics parts</p>
                <ul id="types" class = 'types-of-sharia'>
                    <li id="super">Adeedah</li>
                    <li id="super">Fiq</li>
                    <li id="super">Akhlaq</li>
                </ul>

                <ol id="aqeedah">
                    <li class="headBold">Aqeedah:</li>
                        <p class="super">Aqeedah in general are the matters which are related to the believes. Like pillars of islam and faith in islam. Apart from those, the branch of aqeedah is broad.
                            You can checkout any lecture of any shiekh or scholar for more better understanding.</p>
                    <li class="headBold">Fiq:</li>
                        <p class="super">Usuallay fiq deals with the laws such as marital laws, business laws, laws regarding jaqah or so. Fiq can be different according to different school of thoughts.
                            These are less regarding punishments but rather rules and regulations and what to do according to certain situations.</p>
                    <li class="headBold">Akhlaq:</li>
                        <p class="super">Akhlaq deals personal matters like behaviours and roles. Like, treatment of parents, akhlaq towards one's spouse, siblings, neighbours,... You get the point.</p>
                </ol>
                    
                <p class="head">Now the "sharia" you might have heard about is called hudood. Hudood is the part of fiq which barely covers 5 to 10% of fiq.
                        Hudood in generaly do not apply to our day to day life. But rather this contains the set of extreme punishements and judgements of extreme crime scenarios in the society.
                        For example. Cutting hands of thievs, death or a hundred lashes for rap, etc.</p>

                    <p class="headBold">Important: Because these are part of fiq, hudood can be differ from different schools of thoughts.</p>

                    <p class="headBold">Point to remember</p>
                    <p class="super"> Even though hudood are preprescribed punishements of certain crimes or violations. The impliment of hudoods are pretty tough. Because of it's extreme nature.</p>
                    <p class="superBold">For example:-</p>
                    <p class="sub">Even though the punishement for theft is cutting of hands but it should fit in the extreme criteria for the cutting of hand judgement.</p>
                    <ul id="conditions-of-hudood">
                        <li class="sub">The thief should be sane, whatever he/she did was in complete control on his/her mind</li>
                        <li class="sub">The thief should steal item value more than a quarter of a dinar or three dirhams. Means a certain thershold should be crossed.</li>
                        <li class="sub">The person must not did it out of hunger, etc.</li>
                    </ul>
                <hr>
                <p class="head">In conclusion, there is nothing to fear in islam from sharia. Unless you are someone who makes the crime his business for money. Sharia do not prefer to impliment hudood but rather these rulings are their so a person or public in general
                    should fear or think multiple times before commiting crime. So, that the public or citizens can live peacefully without having the fear or mishappening or less likely to happen something unjust.</p>
                <hr><hr>
            </div>
        </div>
    </main>

    <footer>
        <div>
        Hope you liked it and got some information.
        </div>
        <div >If you think there is any mistake(s) in the references given above. Feel free to do a dm on insta. I'll try to fix it if possible. Jazakallah</p></div>
        <div><a href="https://www.instagram.com/habeeb_understandingcritics?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">INSTAGRAM</a></div>
    </footer>
    <script src="../static/switchScript.js"></script>
</body>
</html>