<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refutations</title>
    <link rel="stylesheet" href="../../static/header.css">
    <link rel="stylesheet" href="../../static/hover.css">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/media.css">
    <link rel="shortcut icon" href="../../static/Images/logo.png" type="image/x-icon">
</head>
<body>
    <a href="../../index.html" title="Islamoflix">
        <div id=logo></div>
    </a>
    <header>
        <div class="search-area">
            <input type="text" id = 'search-bar' name = 'search-bar'>
        </div>
        <div id='menu'><button></button>
            <ul id='options'>
                <li id=Home class=header><a class=header href="../../index.html">Home</a>
                </li>
                <li id=refutations class=header><a class=header href="../refutations/refutations.html" style="color: rgba(255, 255, 255, 0.753);">Refutations</a></li>
                <li id=revert-section class=header><a class=header href="../revert-section/revert-section.html">Revert
                        Section</a></li>
            </ul>
    
        </div>
    
        <div id="switch-layout">
    
        </div>
        <div id='switch'>
    
        </div>
    </header>

    <main style="min-height: 93.5vh; display: flex; justify-content: center; align-items: center;">
        <p>We are sorry for the inconvenience. This site is under development.</p>
    </main>

    <script src="../../static/switchScript.js"></script>
</body>
</html>