<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/header.css">
    <link rel="stylesheet" href="../../static/textStyle.css">
    <link rel="stylesheet" href="../../static/hover.css">
    <link rel = "stylesheet" href = "../../static/style.css">
    <link rel="stylesheet" href="../../static/media.css">
    <link rel="shortcut icon" href="../../static/Images/logo.ico" type="image/x-icon">
    <title>Did Allah prayed to anyone?</title>
</head>
<body>

    <a href="../../index.html" title="Islamoflix">
        <div id=logo></div>
    </a>

    <header>
        <div class="search-area">
            <input type="text" id = 'search-bar' name = 'search-bar' placeholder="search any page or covered topic">

            <div id="suggestions">
                <P id="example" class = suggestions>Results</P>
            </div>
        </div>


        <div id='menu'><button></button>
            <ul id='options'>
                <li id=Home class=header><a class=header href="../../index.html"
                        style="color: rgba(255, 255, 255, 0.753);">Home</a>
                </li>
                <li id=refutations class=header><a class=header href="../refutations/refutations.html">Refutations</a></li>
                <li id=revert-section class=header><a class=header href="../revert-section/revert-section.html">Revert Section</a></li>
                <li id ="email" class = header>
                    <p class = header id = contact href = "#">Email &darr;</a>
                        <div id=mail class = 'mail-hidden'>
                            <p class=header style="font-size: medium;">islamoflix@gmail.com</a>
                        </div>
                    
                </li>
            </ul>

        </div>

        <div id="switch-layout">

        </div>
        <div id='switch'>

        </div>
    </header>

    <main>
        <div class="main">
            <div class=heading>
                <h1>Did Allah prayed to or for Prophet?</h1>
            </div>

            <div class="text">
                <hr>
                <hr>                
                <p id = greeting>Assalamu alaikum(Peace be upon you)</p>

                <p class="super">We have came accross this argument mutliple time, am sure you have hear it as well. That Allah azzawajal pray to or pray for prophet Muhammad(sallallahu alayihi wasallam).</p>
                <p class="super">The argument are repeated so many time by major islamic critics that it's becoming harder and harder to ignore, and why to ignore? Because there is nothing intellectual about this
                    argument. This is just a simple arabic translation which some idiots thinks they knows how arabic works and impossing there own understanding as the base of arabic.</p>
                <hr>
                <p class="superBold">The argument of the critics are, that in the Qur'an, in the<span style = "color: blue"> chapter 33 which is surah al-ahzab, in verse 56</span>. The meaning of the verse-</p>

                <p class="superBold">إِنَّ ٱللَّهَ وَمَلَـٰٓئِكَتَهُۥ يُصَلُّونَ عَلَى ٱلنَّبِىِّ</p>
                <p class="sub">Na'udubillah! Allah is praying to or for prophet muhammad. As they(islamic critics), the great great great scholars of islamic studies suggest. Sorry, impose that the translation
                    of this verse in all the !ur'an have been written wrong, which is-</p>

                <p class="superBold">Indeed, Allah showers His blessings upon the Prophet, or</p>
                <p class="superBold">Indeed, Allah and his angels sends blessings upon the Prophet.</p>

                <p class="sub">By our great great great scholars of islam. They implying by the word "يُصَلُّونَ"(yusalluna) which came from the word salah means prayer. Hence allah is sending prayer to or for Prophet, Na'udubillah.</p>
                <hr>
                <p class="super">First of all the argument dismentals itself here that in most of the languages or atleast those languages which I knows. Single words can have different meaning according to there context
                    and usage. As I am not an expert in grammer of any languages. I might not be able to explain it well but let's take an example.</p>
                
                <ul>
                    <li class="super">
                    <p >He is actually right. Does that mean the person has no left body parts?</p>
                    </li><li class="super">
                    <p>I turned towards right. I wonder what could be the meaning of this sentence.</p>
                    </li><li class="super">
                    <p>She has all the rights to stand against you. - So, how many rights does she have, and does she have any lefts as well if she has so many rights.</p>
                    </li>
                </ul>

                <p class="super">Doesn't make any sense right!</p>
                
                <p class="superBold">The word "يُصَلُّونَ"(yusalluna) doesn't mean prayer here and it's very easy to show. As, if we conitnue with this same verse, we will get-</p>

                <p class="superBold">  يَـٰٓأَيُّهَا ٱلَّذِينَ ءَامَنُوا۟ صَلُّوا۟ عَلَيْهِ وَسَلِّمُوا۟ تَسْلِيمًا</p>

                <p class="super">Which translates as -</p>

                <p class="sub">O  believers! Invoke Allah’s blessings upon him, and salute him with worthy greetings of peace.</p>
                <p class="superBold">or</p>
                <p class="sub">O you who believe! send blessings upon him and great him with greatings.
                </p>

                <p class="super">If we replace the blessings to prayer like our great critics says. Then it would be, na'udubillah! O you who believe! send prayers upon him(prophet) and great him with greatings.</p>

                <p class="super">And any stupidess person who knows anything about islam, knows that associating anyone in prayers with Allah azzawajal is called shirk and the biggest sin a person can commit.
                    And which is also stated by Allah azzawajal. So, Allah almighty himself is prohibiting anyone to include anyone with Allah in prayers. Infact is the biggest and only sin which Allah will not forgive.</p>
                
                <p class="sub">So, this claim is stupid.</p>
                <hr>
                <p class="superBold">Secondly, to confirm you that the argument of "yusalluna 'ala" means praying to or for. Heck the word 'ala literally will translates as upon or in any hierarchical stuff, like above. But in this context, it's upon.
                    Where does that "to" or "for" came from?</p>
                
                <p class="sub">Just have one request to those critics. Atleast came up with something which sounds convincing. There is not even for or to.</p>

                <p class="sub">I'll finish by asking one question if any critic is reading it by any chance.</p>

                <p class="superBold">In the Qur'an, <a href="https://quran.com/al-hajj/40">chapter 22(Al-Hajj) verse 40</a>. What does the the "وَصَلَوَٰتٌۭ"(wasalawatun) means?</p>

                <p class="super">If salawat only and only means prayers. Why is it being translated as synagogues?</p>
                <hr>
                <hr>
                <p class="sub">Stay safe and complete your every prayer on time.</p>

            </div>
        </div>
    </main>
</body>
    <script src="../../static/switchScript.js"></script>
    <script src = "../../static/query.js"></script>
</html>