a.header:hover{
    opacity: 60%;
}

div.mainIntroduction a:hover{

    border: 1px solid rgb(0, 0, 0);
    text-shadow:2px 4px black;
    font-weight: 900;
}

div.mainIntroduction a:active{

    border: 1px solid rgb(0, 0, 0);
    text-shadow:2px 4px black;
    font-weight: 100;
}

