/* media query for main options for monitors*/
@media screen and (min-width: 1366px) and (min-height: 720px){
    div.main{
        margin: 0px 34vh; /*this is outline of covered topic of main page*/
    }

}
/* Media query on header */
/* The dropdown option for mobiles */
@media screen and (max-width: 1163px) {
    /* burgur option in header for mobile devices as well as logo */
    header{
        display: flex;
        justify-content: end;
        align-items: center;
        background-size: 25% 152%;
    }
    header div#menu{
        display: flex;
        margin-right: 50px;
    }
    header button{
        display: block;
        width: 30px;
        height: 25px;
        background-image: url(../static/Images/hamburger-menu-icon-png-white-8.jpg);
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: center;
        background-color: #00000000;
        border: none;
        /* opacity: 50%; */
    }

    button img{
        display: none;
    }
    li.header{
        display: block;
        padding: 0px;
        min-width: 14em;
        min-height: 2.5em;
    }

    .header{
        display:flex;
        justify-content:center;
        align-items: center;
        min-height: 2.5em;
    }

    header ul{
        position: absolute;
        top: 5vh;
        right: 0px;
        border: 1px;
        border-radius: 15px;
        display: none;
        border: 2px solid black;
        transition: display 1s ease-out 0s;
    }

    li.header:hover{
        border: 1px;
        border-radius: 15px;
        background-color: #303030;
    }

    header button:focus + ul, header ul:active{
        display:block;
    }

    .search-area{
        left: -27px;
        top: 3px;
        margin: 0px 0rem 0px 6rem;
    }
    #search-bar{
        max-width: 10vw;
        font-size: small;
        padding: 0px 13vw 0px 5vw;
        margin: 2px;
    }

    #suggestions{
        font-size: small;
        background-color: white;
        border: 2px solid black;
        border-radius: 15px;
    }

    div.search-area #search-bar:focus{
        max-width: 30vw;
    }

    
} 









@media screen and (min-width: 720px){
    li#Home{
        visibility: hidden;
    }

    

    #logo{
        position: fixed;
    }

}

/* media query on main elements of main page */

@media screen and (max-width: 1366px) {
    div.mainIntroduction li a {
        min-height: 40vh;
        min-width: 30vw;
    }

    div.mainIntroduction li {
        width: 50vh;
        min-height: 50vh;
    }

    div#logo {
        height: 6vh;
        width: 7vh;
    }
}

@media screen and (min-width: 980px) and (max-width: 1366px){
    div.mainIntroduction li{
        margin: auto 4vw;
    }
}
